name: build
on:
  pull_request
jobs:
  checkov-job:
    runs-on: ubuntu-latest
    name: checkov-action
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Run Prisma Cloud 
        id: Prisma Cloud
        uses: bridgecrewio/checkov-action@master 
        env:
          PRISMA_API_URL: https://api-stage.prismacloud.io
        with:
          api-key: ${{ secrets.BC_API_KEY }}
